<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev | test">
        <property name="log.path" value="logs"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="pro">
        <property name="log.path" value="log/sbs"/>
        <include resource="appender.xml"/>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="WARN"/>
            <appender-ref ref="INFO"/>
        </root>
    </springProfile>

</configuration>